<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/css/greenbin.css">
	<link rel="stylesheet" type="text/css" href="lib/ng-tags-input/ng-tags-input.css">

</head>
<body>

	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

    
	<!--div ng-include="'/common/views/header.tpl.html'"></div-->
	<div ui-view class="container greenbin-container"></div>


	<!-- angular libs -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

	<!-- angular 3rd party modules & directives -->
	<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="/lib/ng-tags-input/ng-tags-input.js"></script>
	<script type="text/javascript" src="/lib/ngAutocomplete/src/ngAutocomplete.js"></script>
	<script type="text/javascript" src="/lib/angular-auto-focus/angular-auto-focus.js"></script>
	<script type="text/javascript" src="/lib/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<script type="text/javascript" src="/lib/angular-utils-pagination/dirPagination.js"></script>
	<script type="text/javascript" src="/lib/angular-touch/angular-touch.min.js"></script>
	<script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>
	<!--script type="text/javascript" src="/lib/ngAnimate/js/angular-animate.min.js"></script-->


	<!-- articles -->
	<script type="text/javascript" src="/articles/articles.client.module.js"></script>
	<script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
	<script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
	<script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>
	<script type="text/javascript" src="/articles/controllers/images.client.controller.js"></script>
	<script type="text/javascript" src="/articles/services/images.client.service.js"></script>
	<script type="text/javascript" src="/articles/directives/ng-thumb.js"></script>

	<!-- home -->
	<script type="text/javascript" src="/home/home.client.module.js"></script>
	<script type="text/javascript" src="/home/controllers/home.client.controller.js"></script>
	<script type="text/javascript" src="/home/config/home.client.routes.js"></script>

	<!-- common -->
	<script type="text/javascript" src="/common/common.client.module.js"></script>
	<script type="text/javascript" src="/common/config/common.client.routes.js"></script>
	<script type="text/javascript" src="/common/controllers/common.client.controller.js"></script>

	<!-- users -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- angular bootstrap -->
	<script type="text/javascript" src="/application.js"></script>
	<!-- google maps -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 

</body>
</html>