<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>

	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/css/greenbin.css">

</head>
<body>

	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

    <nav class="navbar navbar-inverse navbar-fixed-top"  ng-controller="HeaderCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GreenBin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" >
          <form class="navbar-form navbar-right" >
            <div class="form-group">
              <a href="#!/signin" class="btn btn-success" role="button" ng-hide="isAuthenticated()">Log in</a>
          	  <a href="/signout" class="btn btn-success" role="button" ng-show="isAuthenticated()">Log out</a>
            </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

	<div ng-view class="container-fluid greenbin-container"></div>




	<!-- angular libs -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

	<!-- articles -->
	<script type="text/javascript" src="/articles/articles.client.module.js"></script>
	<script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
	<script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
	<script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>

	<!-- example -->
	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

	<!-- common -->
	<script type="text/javascript" src="/common/common.client.module.js"></script>
	<script type="text/javascript" src="/common/config/common.client.routes.js"></script>
	<script type="text/javascript" src="/common/controllers/common.client.controller.js"></script>

	<!-- users -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- angular bootstrap -->
	<script type="text/javascript" src="/application.js"></script>

</body>
</html>